html {
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: currentColor;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
    border: none;
}

.container {
    width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}

.grid-section {
    background-color: aqua;
    padding: 150px 0;

}

.grid-title {
    font-size: 50px;
    mix-blend-mode: difference;
    color: palevioletred;

}

.grid-list {
    background-color: blueviolet;
    width: 100%;
    height: auto;
    display: grid;
    grid-auto-rows: minmax(200px, auto);
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    counter-reset: grid-item;
}

.grid-item {
    position: relative;
    background-color: pink;
}

.grid-item:nth-child(1) {
    background-color: red;
    grid-column: 1/3;
    grid-row: 1/3;
}

.grid-item:nth-child(10) {
    background-color: salmon;
    grid-column: 3/5;
}

.grid-item:nth-child(13) {
    background-color: azure;
    grid-column: 2/4;
    grid-row: 4/6;
}

.grid-item:nth-child(17) {
    background-color: green;
    grid-column: 4/6;

}

.grid-item:nth-child(18) {
    background-color: black;
    grid-column: 1/3;

}

.grid-item::before {
    display: block;
    content: counter(grid-item);
    counter-increment: grid-item;
    width: 50px;
    height: 50px;
    border-radius: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    font-weight: 500;
    font-size: 40px;
    color: rgb(62, 25, 25);
    background-color: yellow;
}

/* Secondary grid */

.secondary-container {
    margin: 100px 0;
    padding: 70px 0;
    font-family: Helvetica;
}

.secondary-grid-title {
    font-size: 50px;
    text-transform: uppercase;
    text-align: center;
    color: palevioletred;
    font-weight: 900;
    mix-blend-mode: difference;

    margin-bottom: 30px;
}

.secondary-grid-list {
    background-color: tomato;
    width: 100%;
    height: auto;
    display: grid;
    grid-auto-rows: minmax(250px, auto);
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;

    border: 10px solid tomato;
}

.secondary-grid-item {
    background-color: indigo;
    position: relative;

    transition: background-color 250ms linear;
}

.secondary-grid-item:nth-child(1) {
    grid-column: 1/3;
    grid-row: 1/3;
}

.secondary-grid-item:nth-child(3) {
    grid-column: 4;
    grid-row: 1/3;
}

.secondary-grid-item:nth-child(10) {
    grid-column: 2/4;
    grid-row: 4/6;
}

.secondary-grid-item:nth-child(17) {
    grid-column: 1/2;
    grid-row: 7/9;
}

.secondary-grid-item:nth-child(19) {
    grid-column: 3/5;
    grid-row: 7/9;
}

.secondary-grid-item:nth-child(25) {
    grid-column: 1/2;
    grid-row: 10/12;
}

.secondary-grid-item:nth-child(28) {
    grid-column: 4;
    grid-row: 10/12;
}

.secondary-grid-item:hover {
    background-color: yellow;
}